.grid {
  width: 50%;
  height: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: 50px repeat(4, 100px) 50px;
  gap: 10px 30px;
}

.grid-box1 {
  background-color: #808080;
  grid-column: 1/-1;
}

.grid-box2 {
  background-color: #0000ff;
  grid-column: 1/9;
}

.grid-box3 {
  background-color: #add8e6;
  grid-column: 9/-1;
}

.grid-box4 {
  background-color: #ffff00;
  grid-column: 1/5;
}

.grid-box5 {
  background-color: #ffff00;
  grid-column: 5/9;
}

.grid-box6 {
  background-color: #ffff00;
  grid-column: 9/-1;
}

.grid-box7 {
  background-color: #add8e6;
  grid-column: 1/5;
}

.grid-box8 {
  background-color: #0000ff;
  grid-column: 5/-1;
}

.grid-box9 {
  background-color: #ffa500;
  grid-column: 1/4;
}

.grid-box10 {
  background-color: #ffa500;
  grid-column: 4/7;
}

.grid-box11 {
  background-color: #ffa500;
  grid-column: 7/10;
}

.grid-box12 {
  background-color: #ffa500;
  grid-column: 10/-1;
}

.grid-box13 {
  background-color: #808080;
  grid-column: 1/-1;
}
